@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}


@primary: #005eda;

.secondary_color {
    color: #99ff33;
}

.btn {
    border-radius: 5px;

    &.btn-primary {
        --bs-btn-bg: @primary;
        --bs-btn-border-color: @primary;
    }
}


.nav-link {
    font-size: larger;

    &.active {
        color: @primary !important;
    }
}

.brand_subname {
    font-style: italic;
}

section {
    font-size: 3em;
    padding-top: 70px;
    padding-bottom: 70px;
}

nav {
    @media only screen and (max-width: 409.98px) {
        .brand_name,
        .brand_subname {
            width: 200px;
            text-wrap: pretty;
        }
    }
}

#home {
    position: relative;
    overflow: hidden;

    .ball {
        right: -30%;
        top: -100%;
        position: absolute;
        display: block;
        background: black;
        border-radius: 50%;
        height: 1200px;
        width: 1200px;
        margin: 0;
        background: radial-gradient(circle at 100px 100px, #005eda, #07a37c);
        opacity: 0.15;
        filter: blur(30px);

        @media only screen and (max-width: 991.98px) {
            display: none;
        }
    }

    background-color:#ad99ff;
    background-image: radial-gradient(at 92% 48%, hsla(69, 69%, 69%, 1) 0px, transparent 50%),
    radial-gradient(at 22% 73%, hsla(166, 98%, 71%, 1) 0px, transparent 50%),
    radial-gradient(at 85% 99%, hsla(115, 95%, 64%, 1) 0px, transparent 50%),
    radial-gradient(at 96% 46%, hsla(60, 92%, 76%, 1) 0px, transparent 50%),
    radial-gradient(at 62% 43%, hsla(95, 68%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 64% 39%, hsla(90, 68%, 62%, 1) 0px, transparent 50%),
    radial-gradient(at 35% 39%, hsla(181, 60%, 62%, 1) 0px, transparent 50%);

    h1 {
        color: #004aad;
    }

    .logo_header {
        border-radius: 5px;
        width: fit-content;
    }
}

h2.heading_text {
    color: @primary;
}

#about {
    cursor: default;
    background: linear-gradient(to top, #f1fff1, #e5f2e5);
    padding-top: 100px;
    padding-bottom: 100px;

    ul {

        list-style: none;
        padding: 0;
        margin: 0;

        li {
            font-size: 2rem;
            @media only screen and (max-width: 575.98px) {
                font-size: 1.5rem;
            }
            position: relative;
            padding-left: 1.5em;

            &::before {
                content: '✔';
                position: absolute;
                left: 0;
                color: #07a37c;
            }
        }
    }

    .our_team {
        .ceo_details {
            width: 30%;

            @media only screen and (max-width: 991.98px) {
                width: 100%;
            }

            img {
                width: 100%;
            }

            .owner_details {
                width: 100%;
            }
        }

        .team_details {
            width: 60%;

            @media only screen and (max-width: 991.98px) {
                width: 100%;
            }
        }
    }
}

#services {
    cursor: default;
    background: linear-gradient(to bottom, #CCFFCC, #ADD8E6);
    padding-top: 100px;
    padding-bottom: 100px;

    .services_wrapper {
        .service {
            .service_items {
                .service_item {
                    p.h5 {
                        position: relative;
                        padding-left: 1.5em;

                        &::before {
                            content: '✔';
                            position: absolute;
                            left: 0;
                            color: #07a37c;
                        }
                    }
                }
            }
        }
    }

    .sector_diversity_wrapper {
        .sectors_wrapper {
            .sector_row {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                row-gap: 48px;
                column-gap: 32px;

                @media only screen and (max-width: 991.98px) {
                    grid-template-columns: 1fr 1fr;
                    row-gap: 32px;
                    column-gap: 28px;
                }

                @media only screen and (max-width: 767.98px) {
                    grid-template-columns: 1fr;
                    row-gap: 24px;
                    column-gap: 24px;
                }

                .sector {
                    text-align: center;

                    img {
                        border: 5px solid white;
                        width: 100%;
                        height: 250px;
                    }
                }
            }
        }
    }

    .investor_network_wrapper {
        .investor_wrapper {
            .investor_row {
                p.h5 {
                    position: relative;
                    padding-left: 1.5em;

                    &::before {
                        content: '✔';
                        position: absolute;
                        left: 0;
                        color: @primary;
                    }
                }
            }
        }
    }
}

#team {
    cursor: default;
    background: linear-gradient(to top, #f1fff1, #e5f2e5);

    .team_credentials_wrapper {

        p.h5 {
            position: relative;
            padding-left: 1.5em;

            &::before {
                content: '✔';
                position: absolute;
                left: 0;
                color: #07a37c;
            }
        }

        .sec {
            background: linear-gradient(to top, #f1fff1, #e5f2e5);
        }

        .sec_1 {
            grid-area: sec_1;
        }

        .sec_2 {
            grid-area: sec_2;
        }

        .sec_3 {
            grid-area: sec_3;
        }

        .sec_4 {
            grid-area: sec_4;
        }

        .sec_5 {
            grid-area: sec_5;
        }

        display: grid;
        gap: 32px;
        align-items: center;
        grid-template-areas: "sec_1 sec_2 sec_3"
        "sec_4 sec_2 sec_5";

        @media only screen and (max-width: 991.98px) {
            grid-template-areas:
                "sec_2 sec_1"
                "sec_2 sec_3"
                "sec_2 sec_4"
                "sec_2 sec_5";
            align-items: normal;
        }

        @media only screen and (max-width: 575.98px) {
            grid-template-areas:
                "sec_1"
                "sec_2"
                "sec_3"
                "sec_4"
                "sec_5";
        }
    }

    .team_track_wrapper {
        .team_track {
            .track_row {
                .track {
                    cursor: default;
                    background: linear-gradient(to right, #40d6ff, #baffc1, #fff4a2);
                }
            }
        }
    }
}

#contact {
    cursor: default;
    background: linear-gradient(to top, #CCFFCC, #ADD8E6);

    .underline-0 {
        text-decoration: none;
    }
}

.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whatsapp-float svg {
    width: 38px;
    height: 38px;
}

/* Animation styles for elements with class 'animated' */
.animated {
    animation-name: fadeInUp;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}